.body_style{
    width: 80%;
    height: 800px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    height: 100px;
    margin-top: -100px;
    background-image: url("../img/bj2.jpg");
    background-repeat: no-repeat;
}
.banner_left{
    width: 50%;
    height: 100px;
    margin: 100px;
    background-image: url("../img/logo3.png");
    background-repeat: no-repeat;
}
.banner_right{
    width: 40%;
    height: 50px;
    float: right;
    margin-top: 20px;
}
.banner_right ul{
    text-decoration: none;
    display: block;
}
.banner_right li{
    text-decoration: none;
    display: inline;
}
.banner_right a{
    text-decoration: none;
    color: black;
    display: inline;
}
.title{
    width: 100%;
    height: 50px;
    background-color: #004e87;
}
.title ul{
    text-decoration: none;
    display: block;
    float: left;
}
.title li{
    text-decoration: none;
    display: inline;
    padding: 35px;
}
.title a{
    text-decoration: none;
    color: white;
}
.text_left{
    width: 25%;
    height: 300px;
    float: left;
    margin-left: 100px;
}
.text_left_title{
    width: 100%;
    height: 34px;
    background-image: url("../img/link_bg.png");
    background-repeat: no-repeat;
}
.text_left_title p{
    float: right;
    margin-top: 5px;
    margin-right: 200px;
}
.text_left_info{
    width: 100%;
    height: 250px;
}
.text_left_info ul{
    text-decoration: none;
    display: block;
    float: left;
    margin-left: -30px;
}
.text_left_info li{
    text-decoration: none;
    display: flex;
    font-size: 14px;
    padding: 10px;
}
.text_left_info a{
    text-decoration: none;
    color: black;
}
hr{
    border: 1px dotted;
    color: #e3e3e0;
}
.text_left_info_foot{
    width: 367px;
    height: 100px;
    margin-top: -50px;
    background-image: url("../img/zhaosheng.jpg");
    background-repeat: no-repeat;
}
.text_left_info_footer{
    width: 100%;
    height: 30px;
    background-image: url("../img/tel.png");
    background-repeat: no-repeat;
    /*background-color: black;*/
}
.text_left_info_footer h4{
    margin-left: 50px;
}
.text_left_info_end{
    width: 100%;
    height: 50px;
}
.text_right{
    width: 60%;
    height: 500px;
    float: right;
}
.text_right_title h4{
    margin-top: -2px;
}
.text_right_title h5{
    margin-left: 600px;
    margin-top: -40px;
}
.text_right_info_left{
    float: left;
    width: 100%;
    height: 300px;
}
.text_right_info_left ul{
    text-decoration: none;
    display: block;
}
.text_right_info_left li{
    text-decoration: none;
    display: block;
    padding: 8px;
}
.text_right_info_left a{
    text-decoration: none;
    color: black;
}
.text_right_footer{
    margin-top: 450px;
    font-size: 18px;
}
.text_right_footer ul{
    text-decoration: none;
    display: inline;
}
.text_right_footer li{
    text-decoration: none;
    display: inline;
    border: 1px solid black;
    padding: 5px;
}
.text_right_footer a{
    text-decoration: none;
    color: black;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: #004e87;
    position:relative;
    margin-top: 550px;
    text-align: center;
    font-size: 13px;
}
.footer p{
    color: white;
}