.contact_form{
    width: 70%;
    position: absolute;
    top: 20%;
    left: 35%;
}

.tree {
    position: relative;
    top: 420px;
    left: 260px;
}

.contact_form ul {
    width: 750px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
    text-decoration: none;list-style: none;
}

.contact_form h2, .contact_form span {
    font-family: Georgia, Times, "Times New Roman", Serif;
}

.contact_form li:first-child,
.contact_form li:last-child {
    border-bottom: 1px solid #777;
}

.contact_form h2 {
    margin: 0;
}

.contact_form span {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    padding: 3px;
}

.usually input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.contact_form textarea {
    padding: 8px;
    width: 300px;
}

.contact_form button {
    margin-left: 156px
}

.special input {
    height: 15px;
    width: 40px;
    padding: 5px 8px;
}

.usually input,
.usually textarea {
    background: #fff url("../img/attention.png") no-repeat 98% center;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    transition: padding .25s;
}
.usually input:focus,
.usually textarea:focus{
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 70px;
}

.usually input:focus:invalid,
.usually textarea:focus:invalid{
    background: #fff url("../img/warn.png") no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
}
.usually input:required:valid,
.usually textarea:required:valid{
    background: #fff url("../img/right.png") no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

button.submitBtn{
    background-color: #68b12f;
    background: linear-gradient(top,#68b12f,#50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submitBtn:hover{
    opacity: .85;
    cursor: pointer;
}

button.submitBtn:active{
    border: 1px solid #02911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
}